fastapi
uvicorn[standard]
streamlit
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
chromadb
sentence-transformers
pypdf
pymupdf
pandas
openpyxl
Pillow
groq
requests
gdown
protobuf==3.20.3
scikit-learn